{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<script>
    var count = 1;

    function send_request() {
        for (var i = 0; i < $('#sea').children().length; i++)
        {
            var left = $('#eat').children('#' + 'eat_'+ count + '_' + i).css('left');
            var top = $('#eat').children('#' + 'eat_'+ count + '_' + i).css('top');
            $('#eat_' + (count - 1).toString() + '_' + i).css({'display': 'none', 'position': 'absolute','height': '3px','width': '3px','left':left,'top':top,'z-index':'1'});
            $('#' + i.toString()).css({'left':left,'top':top,'position': 'absolute','transition-duration':'0.5s','z-index':'2'});
        }
        count++;

    }
    $(document).ready(function () {
        var timerId = setInterval(send_request, 500)
    });
</script>

<div id="MinResult" style="position: absolute;left: 1050px;z-index: 3 " >
    {% for min in min_result %}
        <p>X = {{ min.X }} Y = {{ min.Y }} Z = {{ min.Z }}</p>
    {% endfor %}
</div>

<img src="{% static 'water.jpg' %}" style="opacity : 0.7;position: fixed; left:0px; top:0px; width:100%">
<div>
    <div style="width:700px; height:700px;position: absolute;left: 300px;">
        <img src="{% static 'water.jpg' %}" style="width:700px; height:700px">
        <div id="sea">
            {% for pos in positions.0 %}
    {#            <img src="{% static 'FSSWeb/1234.png' %}" id = "{{ forloop.counter0 }}"  width="30" height="30" style="left:{{ pos.X }}px;top:{{ pos.Y }}px;position: absolute;transition-duration:1s; z-index: 2">#}
                <img src="{% static 'shark.gif' %}" id = "{{ forloop.counter0 }}"  width="50" height="30" style="left:{{ pos.X }}px;top:{{ pos.Y }}px;position: absolute;transition-duration:1s; z-index: 2">
            {% endfor %}
        </div>

        <div id="eat">
            {% for XY_pos in positions %}
                {% with forloop.counter0 as count %}
                    {% for pos in XY_pos %}
                        <div
                            id="eat_{{ count }}_{{ forloop.counter0 }}" style="opacity : 1 ;position: absolute;left:{{ pos.X }}px;top:{{ pos.Y }}px;z-index:1">
                            <img src="{% static 'fish-animation-1.gif' %}" style="height: 10px;width: 10px">
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>

    <div style="position: absolute; opacity : 0.7; top: 75px;left:0px;">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
           <input type="submit" value="OK" >
        </form>
    </div>
</div>

{% endblock %}

